html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

footer,
details {
  margin: 1em;
}

details > div {
  padding-left: 1em;
}

details > summary {
  margin-bottom: 1em;
}

a {
  color: #0000ee;
}

header,
main,
footer {
  max-width: 65ch;
}

section {
  margin: 1em auto;
}

h2 {
  display: flex;
}

h2 button {
  margin: auto 1em;
  display: none;
}

h2:hover button {
  display: inline-block;
}

input {
  width: 70%;
}

span {
  color: #ee802f;
}
