.container {
  max-width: 60ch;
}

.feed {
  margin: 1em auto;

  & h3 {
    display: flex;
    align-items: center;
    gap: 0.5em;
    position: relative;

    & button {
      will-change: opacity;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover button {
      opacity: 1;
    }
  }
}
